html, body{
    margin: 0 10%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.text-center{
    text-align: center;
}
table{
    border: 1px solid #333;
    width: 90%;
}
table thead{
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
table thead th {
    border-left: 1px solid #333
}